<h1>Welcome to the list of restaurants!</h1>
<h3>Click below to get the full list :)</h3>
<a href="/restaurant_list"><img
    src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F1.bp.blogspot.com%2F-YlsBCAKSPXA%2FT9ng3AzDeoI%2FAAAAAAAAAdk%2FEfYjzHRoVLk%2Fs1600%2Fclick_here_BUTTON_1_.gif&f=1&nofb=1"
    alt="Click here"
  /></a>